.title {
    margin-bottom: 1.5rem;
    text-align: center;
}

.subtitle {
    margin-bottom: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.link {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: var(--accent-cl);
    }

}

.text {
    margin-bottom: 1.5rem;
}