*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(12px + 0.5vw);
    line-height: 1.33;
    font-weight: 500;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--main-bg-cl);
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}