:root {
    --main-text-cl: #222222;
    --main-bg-cl: #f2f2f2;
    --main-light-cl: #f2f2f2;
    --secondary-bg-cl: #dddddd;
    --accent-cl: #0080ff;
    --success-cl: #84dd57;
    --error-cl: #E32636;
}