.link {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: var(--accent-cl);
    }


}

.active {
    color: var(--accent-cl);
}