.btn {
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 0.5em;
    color: var(--main-light-cl);
    background-color: var(--accent-cl);
    transition: color 250ms linear, background-color 250ms linear, border-color 250ms linear, opacity 250ms linear;
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--main-text-cl);
        background-color: transparent;
        border-color: var(--accent-cl);
        outline: none;
    }

    &:disabled {
        opacity: 0.5;
    }
}