@import "../common/mixin";

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 460px;

    @include mq(tablet) {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 736px;
    }

    @include mq(desktop) {
        max-width: 1280px;
    }
}