.container {
    display: block;
    position: relative;
}

.input {
    width: 100%;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid var(--accent-cl);
    border-radius: 0.5em;
    transition: border-color 250ms linear;

    &:active,
    &:focus,
    &:focus-visible,
    &:focus-within {
        outline: none;
    }

    &Success {
        &:not(:placeholder-shown) {
            border-color: var(--success-cl);
        }
    }

    &Error {
        border-color: var(--error-cl);
    }
}

.label {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 250ms linear;
    pointer-events: none;

    &Up {
        transform: translateY(-200%);
        pointer-events: all;
    }
}

.error {
    position: absolute;
    left: 0;
    top: 2.5em;
    color: var(--error-cl);
}